
.container{
	width: 1440px;
	background-color: #F6F8F9;
	padding: 20px;
	margin: 0 auto;
}
.header{
	background-color: #F6F8F9;
	padding: 18px;
	vertical-align: middle;
	position: fixed;
	width: 100%;
	display: inline-block;
}
li{
	display: inline-block;
}
.navi{
	
	display: inline-block;
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.home{
	margin-right: 27px;

}
.color{
	color:black;
	font-weight: bold;
}
.discov{
	margin-right: 22px;
}
.photo{
	margin-right: 22px;
}
.contact{
	margin-right: 40px;
}
.girl{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
}
.inline{
	display: inline-block;
}

/*fonts*/
	font-family: 'Barlow', sans-serif;
	font-family: 'Roboto', sans-serif;

/*section*/

